@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
* {
  font-family: "Source Sans Pro", sans-serif !important;
}
body {
  background-color: darkgray;
}

.grid-x {
  background-color: lightblue;
}

.cell {
  background-color: rosybrown;
}

//Semantico

.contenido {
  @include xy-grid-container();
  .principal {
    @include xy-grid();
    .nosotros {
      @include xy-cell();
      @include breakpoint(medium) {
        //@include xy-cell(60%);
        //@include xy-cell(1 of 3);
        @include xy-cell(10);
      }
    }
    aside {
      @include xy-cell();
      @include breakpoint(medium) {
        //@include xy-cell(40%);
        //@include xy-cell(2 of 3);
        @include xy-cell(2);
      }
    }
  }
}

.red {
  background-color: red;
}

//Semantico alinear hijos
.contenedor {
  @include xy-grid-container();
  .contenido-principal {
    @include xy-grid();
    background-color: brown;
    height: 600px;
    //$x = left, right, center, justify, spaced
    //$y = top, bottom, middle, stretch
    @include flex-align(left, middle);
    .noticia {
      @include xy-cell(4);
      @include flex-align(center, middle);
      background-color: rgba(201, 128, 128, 0.473);
      color: white;
    }
  }
}

//Semantico alinear hijos
.contenedor-self {
  @include xy-grid-container();
  .contenido-principal {
    @include xy-grid();
    background-color: brown;
    height: 600px;
    .noticia-principal {
      @include xy-cell(8);
      background-color: rgba(35, 184, 189, 0.623);
      // $y = top, bottom, middle, stretch
      @include flex-align-self(stretch);
      @include flex-order(2);
    }
    .noticia {
      @include xy-cell(4);
      background-color: rgba(0, 128, 0, 0.308);
      // $y = top, bottom, middle, stretch
      @include flex-align-self(top);
      @include flex-order(1);
    }
  }
}

/** MIXINS **/

.menu-responsive {
  // @include hamburger(color, colorhover, ancho, alto, grosor de barra, cantidad de barras)
  @include hamburger(black, red, 50px, 30px, 5px, 3);
}

.centrar-elemento {
  height: 300px;
  background-color: lightblue;
  position: relative;

  p {
    // @include vertical-center;
    //@include horizontal-center;
    @include absolute-center;
  }
}

.caja {
  @include box(200px, 200px);
  background-color: green;
}

.registro-exitoso {
  height: 50px;
  @include bordered(2px, dashed, green) position: relative;
  p {
    @include absolute-center;
  }
}

.bold {
  @include font-bold();
}

.posicion {
  @include position(relative);
  height: 200px;
  background-color: lightcoral;
  .contenido {
    @include position(absolute, 1, 0, 0, 0);
    @include padding(2, 3, 2, 3);
    background-color: blue;
    height: 30px;
  }
}

.contenido-principal-blog {
  height: rem-calc(200);
  background-color: yellow;
}
